files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/write.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chmod 777 /opt/python/current/app/
  "/opt/elasticbeanstalk/hooks/appdeploy/post/db.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/python/run/venv/bin/activate
      cd /opt/python/current/app/postdeploy/
      python3 ./dbsetup.py